.formElement {
  display: inline-block;
  margin-bottom: 15px;
}
.formElement .field {
  border: 1px solid #ddd;
  border-radius: 7px;
  position: relative;
}
.formElement label {
  font-weight: 600;
  font-size: .6rem;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: inline-block;
}
.formElement.full {
  display: block;
}
.formElement.full select,
.formElement.full input[type="password"],
.formElement.full input[type="email"],
.formElement.full input[type="text"],
.formElement.full input[type="number"] {
  width: 100%;
}
.formElement .description {
  position: absolute;
  color: #eee;
  top: 6px;
  right: 10px;
  cursor: pointer;
}
.formElement .description:hover {
  color: #ddd;
}
.formElement.full.hasDescription select {
  width: calc(100% - 30px);
}
.formElement.hasDescription select {
  margin-right: 30px;
}
input[type="email"],
input[type="number"],
input[type="text"],
input[type="password"],
textarea,
select {
  border: 0;
  border-radius: 7px;
  font-weight: 500;
  background-color: #fff;
  padding: 9px 10px 10px 10px;
  box-sizing: border-box;
  display: inline-block;
  color: #333;
  -webkit-appearance: none;
  cursor: text;
}
select {
  display: block;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
select::-ms-expand {
  display: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
select:disabled,
input[readonly] {
  color: #999;
}